        
        <article><div>
            <header>
              <hgroup>
                <a href="<shelf-href />"><h1><shelf-title-caps /></h1></a>
                <a href="<shelf-href />"><h2><shelf-author /></h2></a>
              </hgroup>
              <a href="<shelf-href />">
                <time datetime="<shelf-date />" pubdate><shelf-year /></time>
              </a>
            </header>
            <p>
              <a href="<shelf-href />">
                <shelf-description />
              </a>
            </p>
            <a href="<shelf-href />">
              <img src="<shelf-cover-href />" alt="Cover" />
            </a>
        </div></article>
        
