<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet"  href="/res/design.css" />
    <link rel="stylesheet"  href="/res/index.css" />
    <link rel="author"      href="http://passcod.net/" />
    <link rel="license"     href="http://creativecommons.org/licenses/by-nc-sa/3.0/" />
    <title>My manga</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--[if lt IE 9]>
      <script>alert("This website looks *very* ugly in this browser.\nYou are advised to change to a better one immediately.\nConsider yourself warned!");</script>
    <![endif]-->
    <div id="container">
      <header id="title">
        <a href="/">
          <hgroup>
            <h1>MY MANGA</h2>
            <h2>BY ME FOR YOU</h2>
          </hgroug>
        </a>
      </header>
      <section id="about">
        <p>
          <span class="headfont">MY MANGA</span> is a trifle I wrote one night 
          to hold some manga translations I was doing, or planning on doing.
        </p>
        
        <p>
          I wanted a simple and beautiful interface but one that would let 
          readers concentrate on the manga page. I picked a few open fonts, 
          three colours, and the new tools of the web, and hop! that was it. 
          I hope you like it...
        </p>

        <p>
          Nevermind that the title says <span class="headfont">BY ME 
          FOR YOU</span>, none of the manga hosted here are actually mine. 
          Sure, I translated some of them, but that is nothing compared to
          the true genius of the authors.
        </p>
        
        <p>
          Oh, and are you worried that I'm robbing the mangaka 
          of their copyright? Be reassured: not here. Either I've got 
          permission, or the work is free...
        </p>
      </section>
      <section id="shelves">
        <mangas />
      </section>
      <footer>
        <h1>Win an Ipad over at TopWebComics.com</h1><a href='http://topwebcomics.com/contest/ipadcontest.aspx'><img src='http://topwebcomics.com/contest/TWCFeedBanner.jpg' style="float:left; border: 0px;" alt=""></a><p>TWC is offering an iPad to one lucky winner on March 20th.  An email address and a name is pretty much all you need, go <a href='http://topwebcomics.com/contest/ipadcontest.aspx'>here</a> for details</p>
      </footer>
    </div>
  </body>
</html>